/*este selector es para que no se mueva la pagina al aparecer el scroll lateral*/
html{
   overflow-y:scroll;
   overflow-x:auto;
}

body{
    background-color:#d1d1d1;
    background-color:#eee;
    /*background:url('../imagenes/fondo.png') repeat-y center;
    background-color:#ead7c7;*/
    font-family: Arial, Helvetica, sans-serif;
    color:#8A8D91;
}

#contenedor{
    width: 980px;
    border:0px solid black;
    margin: 0 auto;
}


/*------------------------------- REDES SOCIALES ---------------------------*/
#redes_sociales{
    float:left;
    width:100%;
}

/*------------------------------- FIN REDES SOCIALES ---------------------------*/

/*------------------------------- CABECERA ---------------------------*/

#cabecera{
    height: 100px;
    /*background-color:grey;*/
    background:url(../imagenes/fondo_cabecera.png) no-repeat;
}

#cabecera img{
    padding-top:25px;
    margin-left: 25px;
    float:left;
}

#prueba{
    padding-top:25px;
    margin-left: 25px;
    float:left;
}


/*---------------------- MENU ----------------------------------- */
#contenedor_menu{
	/*background:url(../imagenes/fondo_menu.png) no-repeat;*/
        float:left;
	height:54px;
}

#menu{
	font-family: Arial, Helvetica, sans-serif;
	/*background-color:#098f45;*/
	height:30px;
	position:relative;
	top:22px;
}

#menu ul{
	clear:both;
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	padding-left:20px;
	padding-top:22px;
}

#menu ul li{
	float:left;
}

#menu ul li a{
	color:#72726F;
	padding:.3em;
	display:block;
	text-decoration:none;
	/*border-right: 1px solid white;*/
	font-size:1.2em;
	padding-right:25px;
	padding-left:25px;
        font-weight:bold;
}

#menu ul li a:hover{
	color:#f0801b;
        background-color:#dddddd;
        /*color:#065c9f;
        background-color:#dddddd;*/
        border-radius:20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
}
/*------------------------FIN MENU-----------------------------------*/

/*------------------------ CONTENIDO-----------------------------------*/
#contenido{
    padding:0px;
}

#boton_dominio{
    background-color:white;
    margin-top:30px;
    padding:25px;
    font-size:1.3em;
    padding-left:40px;
}

#dominio{
    background-position:left center;
    padding-left:65px;
    width:200px;
    background-image:url(../imagenes/www.png);
    background-repeat:no-repeat;
    height:25px;
    border:1px solid #065c9f;
    margin-left:30px;
    margin-top:-5px;
    font-size:17px;
    color:#8A8D91;
}

#boton_buscar_dominio{
    border:none;
    width:109px;
    height:34px;
    background-image:url(../imagenes/buscar_dominio.png);
    background-repeat:no-repeat;
    background-color:white;
    margin-left:30px;
}

#boton_buscar_dominio:hover{
    background-image:url(../imagenes/buscar_dominio_hover.png);
    background-repeat:no-repeat;
}

#boton_buscar_dominio:active{
    border-radius:5px; 
    -moz-border-radius:5px;   
    -webkit-border-radius:5px;
    box-shadow: inset 0px 0px 15px black;
    -moz-box-shadow: inset 0px 0px 15px black;
    -webkit-box-shadow: inset 0px 0px 15px black;

}

#extension{
    font-size:0.8em;
    color:#8A8D91;
    margin-left:30px;
}

#contenido_izquierda{
    float:left;
}

.texto_contenido{
    line-height: 2;
    font-size:0.8em;
    width:550px;
    float:left;
}

.ruta{
    display:block;
    font-weight:bold;
    font-size:1.2em;
    padding-left:10px;
}


.letra_naranja{
	color:#f0801b;
}

.letra_azul{
	color:#065c9f;
        font-weight:bold;
        text-transform: uppercase; 
}

.barra{
    padding-top:5px;
    padding-bottom:20px;
}

.imagenes_contenido{
    float:left;
    padding:20px;
    padding-right:40px;
}

#texto_direccion{
    float:left;
    font-size:0.8em;
}

.bloque_index_color{
    float:left;
    width:315px;
    height:200px;
    border:0px solid black;
    margin-top:2px;
    color:white;
    overflow:hidden;
    padding-bottom:20px;
    border-radius:0px 70px;
    -moz-border-radius:0px 70px; 
}

#bloque_derecho{
    float:right;
    background-color:#f09039;
    box-shadow:10px 10px 5px #f0801b;
    -moz-box-shadow:10px 10px 5px #f0801b;
    -webkit-box-shadow:10px 10px 5px #f0801b;
}


#bloque_centro{
    /*background-color:#266897;*/
    background-color:#f0801b;
    margin-left:17px;
    box-shadow:10px 10px 5px #f09e54;
    -moz-box-shadow:10px 10px 5px #f09e54;
    -webkit-box-shadow:10px 10px 5px #f09e54;
}

#bloque_izquierdo{
    /*background-color:#5BB5A6;*/
    background-color:#f09e54;
    box-shadow:10px 10px 5px #f09039;
    -moz-box-shadow:10px 10px 5px #f09039;
    -webkit-box-shadow:10px 10px 5px #f09039;
}

.titulo_bloque{
        font-size:2em;
        font-weight:normal;
        margin-left:40px;
        margin-top:10px;
}

.contenido_bloque{
    margin-left:40px;
    margin-top: 15px;
    display:block;
    font-size:0.9em;
    margin-right:30px;
    line-height:1.2;
}

.contenido_bloque ul{
    margin-top:5px;
}

.contenido_bloque ul li{
    margin-left:20px;
    margin-top:2px;
}


/*------------------------ FIN CONTENIDO-----------------------------------*/




/*------------------------ PIE-----------------------------------*/
#pie{
    margin-top:40px;
    height: 100px;
    /*background-color:grey;*/
    background:url(../imagenes/fondo_pie2.png) no-repeat;
}

#pie img{
    padding-top:25px;
    margin-left: 25px;
    float:left;
}

#contenedor_menu_pie{
	/*background:url(../imagenes/fondo_menu.png) no-repeat;*/
        float:left;
	height:54px;
        margin-top:10px;
        margin-right:25px;
}

#menu_pie{
	font-family: Arial, Helvetica, sans-serif;
	/*background-color:#098f45;*/
	height:30px;
	position:relative;
	top:22px;
}

#menu_pie ul{
	clear:both;
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	/*padding-left:20px;
	padding-top:22px;*/
}

#menu_pie ul li{
	float:left;
}

#menu_pie ul li a{
	color:#72726F;
	padding:.3em;
	display:block;
	text-decoration:none;
	/*border-right: 1px solid white;*/
	font-size:0.8em;
	padding-right:10px;
	padding-left:10px;
        font-weight:normal;
}

#texto_direccion_pie{
    float:right;
    font-size:0.7em;
    margin-top:20px;
    margin-right:20px;
}
/*------------------------ FIN PIE-----------------------------------*/


/*-------------------------- ZONA  PRIVADA -----------------------------*/

#acceso_usuarios{
    float:right;
    margin-right:5px; 
}

.zona_privada{
	/*float:right;*/
	border:1px solid #72726F;
	font-size:0.8em;
	color:#f0801b;
	text-decoration:none;
	padding:0.3em;
        margin-top:8px;
        display:block; 
	/*margin-right:60px;*/
        
        background-image:none;
        background-color:#d1d1d1;
        padding:0px;
}

.zona_privada:hover{
	background-color:#72726F;
        color:white;
}

.validateTips{ 
    border: 1px solid transparent; 
    padding: 0.3em; 
    color:red;
    font-size:0.7em;
}

#dialog{
    margin-left:5px;
}

.ui-state-error{
    color:orange;
}


.error_login{
	display: block;
	width: 260px;
	text-align: center;
	color: #F0801B;
	font-size: 0.7em;
}

#formulario_login{
    color:#7c7f82;
    z-index:10;
}

.boton_login{
    width: 100px;
    /*float:right;*/
    background-color:#f0801b;
    border:1px solid #8A8D91;
    height:25px; 
    color:#555658;
    color:white;
    padding-bottom:8px;
    margin-top:25px;
}

.usuario{
    color:#f0801b;
    display:block;
    margin-top:15px;
    float:right;
}

.salir{
    color:white;
    display:block;
    margin-top:20px;
    float:right;
    font-size:0.8em;
    padding-right:20px;
    padding-left:20px;
}

/*-------------------------- ZONA  PRIVADA -----------------------------*/




/*----------------- SU PRESUPUESTO -------------------------------*/
#texto_presupuesto{
    font-weight:bold;
    font-size:1.1em;
}

.datos_presupuesto{
    width:450px;
    float:left;
}

#precio_presupuesto{
    width:350px;
    /*height:300px;*/
    border:0px solid black;
    /*margin:0 auto;
    text-align:center;*/
    background:url(../imagenes/lineapostit.png);
    padding-left:10px;
    padding-right:5px;
}

#precio_presupuesto span{
    color:#a2d15f;
    font-size:2em;
    font-weight:bolder;
    text-align:right;
    color:#065c9f;
}

.pdf{
    float:left;
    margin-top:25px;
    margin-right:0px;
}

#mensaje_pdf{
    width:400px;
    margin:0 auto;
    background-color:#f0801b;
    height:100px;
    position:relative;
    top:-400px;
    margin-bottom:-100px;
    border:5px solid orange;
}

#mensaje_pdf p{
    color:#eeeeee;
    text-align:center;
    padding-top:15px;
}

/*----------------- FIN SU PRESUPUESTO -------------------------------*/



/*----------------- PANEL DE CONTROL -------------------------------*/

.paneles{
    float:left;
    width:315px;
    margin-top:2px;
    padding-bottom:20px;
    border:2px solid #f0801b;
    height:295px;
    margin-left:7px;
}

.paneles:hover{
    border:2px solid #065c9f;
    box-shadow: inset 0px 0px 15px #065c9f;
    -moz-box-shadow: inset 0px 0px 15px #065c9f;
    -webkit-box-shadow: inset 0px 0px 15px #065c9f;
}
/*----------------- FIN PANEL DE CONTROL -------------------------------*/
