/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 
body{
	margin: 0;
	background: url(../images/bg-body.gif) repeat-x #f1730d;
}
.page{
	width: 950px;
	padding: 0 5px;
	margin: 0 auto;
	position: relative;
}

/*------------------------- Font ------------------------*/ 
@font-face {
    font-family: 'RokkittRegular';
    font-family: 'RokkittRegular';
    src: url('../fonts/rokkitt-regular-webfont.eot');
    src: url('../fonts/rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rokkitt-regular-webfont.woff') format('woff'),
         url('../fonts/rokkitt-regular-webfont.ttf') format('truetype'),
         url('../fonts/rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------- Sidebar ------------------------*/ 
.sidebar {
	float:left;
	padding:50px 0 0;
	width:248px;
}
.sidebar div#logo {
	background:url(../images/interface.png) no-repeat 0 -142px;
	height:200px;
	left:-85px;
	padding:50px 0 0;
	position:absolute;
	top:0;
	width:383px;
}
.sidebar div#logo a {
	display:block;
	height:60px;
	margin:0 0 0 90px;
	outline:none;
	width:230px;
}
.sidebar div#logo a img {
	border:0;
}
.sidebar ul.navigation {
	background:url(../images/border-dashed.gif) repeat-x left bottom;
	list-style:none;
	margin:80px 0 0 20px;
	padding:0 0 10px;
	text-align:center;
	width:192px;
	position:relative;
}
.sidebar ul.navigation li {
	height:36px;
	margin:0 0 10px;
}
.sidebar ul.navigation li.selected {
	background:url(../images/interface.gif) no-repeat;
}
.sidebar ul.navigation li.selected a,.sidebar ul.navigation li a:hover {
	color:#801002;
}
.sidebar ul.navigation li a {
	color:#cf3d01;
	font-family:RokkittRegular;
	font-size:24px;
	font-weight:700;
	line-height:36px;
	outline:none;
	text-decoration:none;
}
.sidebar form {
	background:url(../images/border-dashed.gif) repeat-x left bottom;
	margin:15px 0 0 20px;
	overflow:hidden;
	padding:0 0 20px;
	width:192px;
}
.sidebar input:first-child {
	background:none;
	background-color:#ffecc1;
	border:0;
	color:#f7a329;
	cursor:auto;
	float:left;
	font-family:arial;
	font-size:12px;
	font-style:italic;
	font-weight:700;
	height:auto;
	margin:0;
	padding:5px 9px;
	width:132px;
}
.sidebar input {
	background:url(../images/interface.gif) no-repeat 0 -56px;
	border:0;
	cursor:pointer;
	float:right;
	height:24px;
	width:30px;
}
.sidebar div.connect {
	background:url(../images/border-dashed.gif) repeat-x left bottom;
	margin:0 0 0 20px;
	overflow:hidden;
	padding:32px 0 34px;
	width:192px;
}
.sidebar div.connect a {
	display:block;
	float:left;
	outline:none;
	text-decoration:none;
	text-indent:-99999px;
}
.sidebar div.connect a#facebook {
	background:url(../images/icons.jpg) no-repeat;
	height:26px;
	margin:0 0 0 21px;
	width:25px;
}
.sidebar div.connect a#twitter {
	background:url(../images/icons.jpg) no-repeat 0 -46px;
	height:26px;
	margin:0 0 0 31px;
	width:37px;
}
.sidebar div.connect a#vimeo {
	background:url(../images/icons.jpg) no-repeat 0 -92px;
	height:26px;
	margin:0 0 0 28px;
	width:31px;
}
.sidebar p {
	color:#f99d20;
	font-family:arial;
	font-size:12px;
	margin:107px 0 0 20px;
	text-align:center;
	width:200px;
}

/*------------------------- Content ------------------------*/ 
 .content{
	float:left;
	padding:55px 0 24px;
	width:702px;
}
.content .article{
	margin:0 0 0 36px;
}
.content .article h2{
	color:#fedd14;
	font-family:RokkittRegular;
	font-size:38px;
	margin:0;
	text-shadow:0 1px 0 #c93905;
}
.content .article p{
	color:#fff;
	font-family:arial;
	font-size:14px;
	font-style:italic;
	line-height:21px;
	margin:10px 0 15px;
	text-align:justify;
}
.content .article a{
	background-color:#cf3d01;
	color:#f99d20;
	display:block;
	font-family:arial;
	font-size:14px;
	font-style:italic;
	font-weight:700;
	height:36px;
	line-height:35px;
	outline:none;
	text-align:center;
	text-decoration:none;
	width:138px;
}
.content .blog{
	background-color:#ffecc1;
	margin:24px 0 0 24px;
	padding:18px 0 0;
}
.content .blog .date,.content .apps .date{
	background:url(../images/interface.png) no-repeat;
	float:left;
	height:54px;
	margin:0 0 0 -24px;
	width:90px;
}
.content .blog .date span:first-child,.content .apps .date span:first-child{
	font-size:14px;
	margin:0 0 0 35px;
	padding:2px 0 0;
}
.content .blog .date span,.content .apps .date span{
	color:#ffecc2;
	display:block;
	font-family:arial;
	font-size:12px;
	margin:0 0 0 45px;
}
.content .blog div,.content .apps div{
	float:left;
	margin:0;
}
.content .blog div h2,.content .apps div h2{
	color:#f27109;
	float:left;
	font-family:RokkittRegular;
	font-size:34px;
	margin:4px 0 0 18px;
	text-shadow:0 1px 0 #fff7e4;
}
.content .blog div div,.content .apps div div{
	background:url(../images/border-dashed2.gif) repeat-x center center;
	margin:15px 0 0 10px;
	text-indent:-99999px;
	width:210px;
}
.content .blog ul{
	background:url(../images/border-dashed2.gif) repeat-x center bottom;
	clear:both;
	list-style:none;
	margin:0 0 0 85px;
	overflow:hidden;
	padding:15px 0 25px;
	width:527px;
}
.content .blog ul li{
	margin:50px 0 0;
	overflow:hidden;
}
.content .blog ul li div{
	background:none;
	float:none;
	margin:0;
	overflow:hidden;
	text-indent:0;
}
.content .blog ul li div div:first-child{
	background:none;
	margin:0;
	width:84px;
}
.content .blog ul li div div:first-child a:first-child{
	background:url(../images/shadow.jpg) no-repeat center bottom;
	height:100px;
	width:84px;
}
.content .blog ul li div div:first-child a{
	background-color:#f89f1f;
	color:#ffecc1;
	display:block;
	font-family:RokkittRegular;
	font-size:16px;
	font-style:normal;
	height:24px;
	line-height:25px;
	outline:none;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-shadow:none;
	width:84px;
}
.content .blog ul li div div{
	float:left;
	margin:0 0 0 18px;
	width:425px;
}
.content .blog ul li div div h3{
	color:#d13d01;
	font-family:RokkittRegular;
	font-size:24px;
	font-style:normal;
	font-weight:400;
	margin:0;
	text-transform:Capitalize;
}
.content .blog ul li div div p{
	color:#f69f1c;
	font-family:arial;
	font-size:12px;
	margin:12px 0 35px;
	text-align:justify;
}
.content .blog ul li div div a{
	color:#B79858;
	float:right;
	font-family:arial;
	font-size:12px;
	font-style:italic;
	outline:none;
	text-decoration:none;
	text-shadow:0 1px 0 #f6f8f5;
}
.content .blog ul li div div a:hover{
	color:#F69F1C;
}
.content .blog .section{
	float:none;
	height:93px;
	margin:0 0 0 85px;
	width:527px;
}
.content .blog .section a:first-child{
	height:48px;
	margin:21px 0 0 15px;
	outline:none;
	background:url(../images/interface.png) no-repeat 0 -74px;
	text-indent: -99999px;
	display: block;
	width:48px;
}
.content .blog .section a{
	color:#e8cb93;
	float:left;
	font-family:RokkittRegular;
	font-style:italic;
	line-height:84px;
	margin:0 0 0 40px;
	outline:none;
	text-decoration:none;
}
.content .blog .section a:hover{
	color:#F89F1F;
}
.content .blog .section .paging{
	background:none;
	margin:39px 0 0 225px;
	width:144px;
}
.content .blog .section .paging a{
	background-color:#FEC97B;
	color:#FFFBF5;
	font-style:normal;
	font-weight:700;
	height:18px;
	line-height:17px;
	margin:0 0 0 12px;
	outline:none;
	text-align:center;
	text-indent:0;
	width:66px;
}
.content .blog .section .paging a:hover{
	background-color:#e6cc93;
	color:#ffeabf;
}
.content div{
	margin:0 0 65px 36px;
}
.content div h2{
	color:#FEDD14;
	font-family:RokkittRegular;
	font-size:38px;
	margin:0;
	text-shadow:0 1px 0 #C93905;
}
.content div h3{
	color:#FFF;
	font-family:arial;
	font-size:18px;
	font-style:italic;
	font-weight:400;
	margin:10px 0 0;
	text-transform:uppercase;
}
.content div p{
	color:#FFF;
	font-family:arial;
	font-size:14px;
	font-style:italic;
	line-height:21px;
	margin:0 0 20px;
	text-align:justify;
}
.content div p a:hover{
	color:#FEDD14;
}
.content div p a{
	color:#fff;
	outline:none;
}
.content .apps ul{
	background:none;
	clear:both;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:15px 0 50px;
}
.content .apps ul li{
	float:left;
	margin:0 0 0 63px;
	width:84px;
}
.content .apps ul li a:first-child{
	background:url(../images/shadow.jpg) no-repeat scroll center bottom;
	height:100px;
	width:84px;
}
.content .apps ul li a{
	background-color:#f79e1e;
	color:#ffebc4;
	display:block;
	font-family:RokkittRegular;
	font-size:16px;
	font-style:normal;
	height:24px;
	line-height:25px;
	outline:none;
	text-align:center;
	text-decoration:none;
	width:84px;
}
.content .categories h2{
	color:#F27109;
	float:left;
	font-family:RokkittRegular;
	font-size:34px;
	margin:4px 0 0 84px;
	text-shadow:0 1px 0 #FFF7E4;
}
.content .categories div{
	margin:0;
	overflow:hidden;
}
.content .categories div div{
	background:url(../images/border-dashed2.gif) repeat-x scroll center center transparent;
	float:left;
	margin:15px 0 0 10px;
	text-indent:-99999px;
	width:325px;
}
.content .categories ul.first{
	padding:35px 0 0;
}
.content .categories ul{
	clear:both;
	list-style:none;
	margin:0 0 0 84px;
	overflow:hidden;
	padding:60px 0 0;
	width:490px;
}
.content .categories ul li{
	float:left;
	margin:0 0 0 51px;
	width:84px;
}
.content .categories ul li a:first-child{
	background:url(../images/shadow.jpg) no-repeat scroll center bottom transparent;
	height:100px;
	width:84px;
}
.content .categories ul li a{
	background-color:#F79E1E;
	color:#FFEBC4;
	display:block;
	font-family:RokkittRegular;
	font-size:16px;
	font-style:normal;
	height:24px;
	line-height:25px;
	outline:none;
	text-align:center;
	text-decoration:none;
	width:84px;
}
.content .categories ul.last{
	background:url(../images/border-dashed2.gif) repeat-x scroll center bottom;
	padding:60px 0 87px;
}
.content .categories .section{
	background:none;
	float:none;
	margin:0 0 0 87px;
	padding:0 0 47px;
}
.content .categories .section a{
	height:48px;
	margin:21px 0 0 15px;
	outline:none;
	background:url(../images/interface.png) no-repeat 0 -74px;
	text-indent: -99999px;
	display: block;
	width:48px;
}
.content .appspage{
	background-color:#FFECC1;
	margin:24px 0 324px 45px;
	padding:18px 0 33px;
}
.content .appspage div h2{
	color:#F27109;
	float:left;
	font-family:RokkittRegular;
	font-size:34px;
	margin:4px 0 0 18px;
	text-shadow:0 1px 0 #FFF7E4;
}
.content .appspage div div{
	background:url(../images/border-dashed2.gif) repeat-x scroll center center transparent;
	float:left;
	margin:15px 0 0 10px;
	text-indent:-99999px;
	width:350px;
}
.content .appspage .previous{
	background:url(../images/interface.png) no-repeat;
	float:left;
	height:54px;
	margin:0 0 0 -24px;
	text-align:center;
	width:90px;
}
.content .appspage .previous a{
	color:#FFECC2;
	font-family:arial;
	font-size:14px;
	line-height:35px;
	outline:none;
	text-align:center;
	text-decoration:none;
}
.content .appspage .section{
	background:url(../images/border-dashed2.gif) repeat-x scroll center bottom transparent;
	margin:0 0 0 63px;
	overflow:hidden;
	padding:0 0 99px;
	width:535px;
}
.content .appspage .section div:first-child{
	float:left;
	width:84px;
}
.content .appspage .section div:first-child a:first-child{
	background:url(../images/shadow.jpg) no-repeat scroll center bottom transparent;
	height:100px;
	margin:0;
	width:84px;
}
.content .appspage .section div:first-child a{
	background-color:#F89F1F;
	color:#FFECC1;
	display:block;
	font-family:RokkittRegular;
	font-size:16px;
	font-style:normal;
	height:24px;
	line-height:25px;
	margin:5px 0 0;
	outline:none;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-shadow:none;
	width:84px;
}
.content .appspage .section div{
	background:none;
	margin:0 0 0 20px;
	text-indent:0;
	width:410px;
}
.content .appspage .section div h3{
	color:#D13D01;
	font-family:RokkittRegular;
	font-size:24px;
	font-style:normal;
	font-weight:400;
	margin:0;
	text-transform:none;
}
.content .appspage .section div p{
	color:#F69F1C;
	font-family:arial;
	font-size:12px;
	font-style:normal;
	line-height:21px;
	margin:12px 0 15px;
	text-align:justify;
}
.content .appspage .section div ul{
	list-style:none;
	margin:0;
	padding:0;
}
.content .appspage .section div ul li{
	float:left;
	margin:0 0 0 7px;
}
.content .appspage .section div ul li a{
	outline:none;
}
.content div span{
	color:#fff;
	display:block;
	font-family:arial;
	font-size:16px;
	font-style:italic;
	margin:0 0 10px;
}
.content div span b{
	color:#ffd215;
	font-family:arial;
	font-size:16px;
	font-style:italic;
}
.content .article a:hover,.content .blog ul li div div:first-child a:hover,.content .apps ul li a:hover,.content .categories ul li a:hover,.content .appspage .previous a:hover{
	color:#fff;
}
.content .blog ul li:first-child,.content .blog .section .paging a:first-child{
	margin:0;
	background:none;
}
.content .categories ul li:first-child,.content .appspage .section div ul li:first-child{
	margin: 0;
}
.content .blog ul li div div:first-child a:first-child img,.content .blog .section a:first-child img,.content .apps ul li a:first-child img,.content .categories ul li a:first-child img,.content .categories .section a img,.content .appspage .section div:first-child a img,.content .appspage .section div ul li a img{
	border:0;
}
.content .blog ul li div div:first-child a:first-child img:hover,.content .apps ul li a:first-child img:hover,.content .categories ul li a:first-child img:hover,.content .appspage .section div:first-child a img:hover{
	opacity:0.8;
}
.content .apps,.content .categories{
	background-color:#FFECC1;
	margin:24px 0 465px 45px;
	padding:18px 0 0;
}








